REMOTE_HOST=root@119.91.20.21
REMOTE_KEY=/Users/gang/Downloads/tencentdev.pem
REMOTE_PROJECT_DIR=/data/bootstrap
REMOTE_CACHE_DIR=/data/cache
REMOTE_ARTIFACT_DIR=/data/artifacts/bootstrap
REMOTE_HTTP_PROXY=http://127.0.0.1:10809
